html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

div {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #555;
    cursor: move;
}

.square {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle.dragging {
    opacity: .5;
}

.red {
    background-color: #FF0000;
}

.blue {
    background-color: #316FF6;
}